.hotel-img {
    width: 300px;
    height: 200px;
}

.amenities-contanier, 
.stars-contanier {
    margin: 0;
    display: block
}

.amenitie-img {
    display: inline-block;
    margin: 8px;
    width: 25px;
    height: 25px;
}